
<h1>Create a Team and Heroes!</h1>

<form class="" action="/team" method="post">
  <label for="">Team Name:</label>
  <input id="" type="text" name="">
  <label for="">Team Motto:</label>
  <input id="" type="text" name="">
  <h2>Hero 1</h2>
  <label for="">Hero's Name:</label>
  <input id="" type="text" name="">
  <label for="">Hero's Power:</label>
  <input id="" type="text" name="">
  <label for="">Hero's Biography:</label>
  <input id="" type="text" name="">
  <label for="">Hero's Name:</label>
  <input id="" type="text" name="">
  <label for="">Hero's Power:</label>
  <input id="" type="text" name="">
  <label for="">Hero's Biography:</label>
  <input id="" type="text" name="">
  <label for="">Hero's Name:</label>
  <input id="" type="text" name="">
  <label for="">Hero's Power:</label>
  <input id="" type="text" name="">
  <label for="">Hero's Biography:</label>
  <input id="" type="text" name="">
</form>
