
<h1>Create a Team and Heroes!</h1>

<form class="" action="/team" method="post">
  <label for=""></label>
  <input id="" type="text" name="">
  <label for=""></label>
  <input id="" type="text" name="">
  <label for=""></label>
  <input id="" type="text" name="">
  <label for=""></label>
  <input id="" type="text" name="">
  <label for=""></label>
  <input id="" type="text" name="">
  <label for=""></label>
  <input id="" type="text" name="">
</form>
